[defaults]
#Convert invalid group characters (like hyphens) to underscores
force_valid_group_names = silently

#Clean up output by hiding the deprecation warnings
deprecation_warnings = False
# Skip SSH authenticity prompts for a seamless lab environment
host_key_checking = False

[ssh_connection]
# Allow older key exchange methods from ansible node
ssh_args = -o KexAlgorithms=+diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1,diffie-hellman-group1-sha1 -o HostKeyAlgorithms=+ssh-rsa,rsa-sha2-256 -o Ciphers=+aes128-cbc,aes256-cbc,aes128-ctr,aes256-ctr -o StrictHostKeyChecking=no

